{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="de" dir="ltr" class="h-100">
<head>
    <meta charset="utf-8"/>
    <link rel="canonical" href="https://www.robinwood.de/oekostrom-report-reloaded"/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        /* Hide up down arrors number input */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
        input[type=number] {
            text-align: right;
        }
    </style>
    <link rel="icon" href="{{ rowo_url }}/sites/default/files/favicon_1_0_0.png" type="image/png"/>

    <title>Ökostrom Umfrage| ROBIN WOOD e.V.</title>
    <link rel="stylesheet" media="all"
          href="{{ rowo_url }}/sites/default/files/css/css_7YO8KMzQ9NN-Liuxp7tdcOrE3I7kfAkgwGvY-QKTbB4.css?delta=0&amp;language=de&amp;theme=rowotheme&amp;include=eJxtT8sSwiAQ-yEsJ7-ns0CsqwvLsGCtX-_r0hm9JJPkkMQ268g-kMEF1W69UT3-6AwzWmAuaoMv2jIJP-CartrPyPCLaCA5WN-Ey7ILbOWK5jDmqHplvChXYSoR_p85J5xoSHc3xmr-g1PWNATf9tRGJZnoQvf9xKIJzjQyyZyRmN4nOD4B3-BXzQ"/>
    <link rel="stylesheet" media="all"
          href="{{ rowo_url }}/sites/default/files/css/css_-X8XE0BMej2gSihZ6VHFPascrtgJajyxCrHjAVLFfcU.css?delta=1&amp;language=de&amp;theme=rowotheme&amp;include=eJxtT8sSwiAQ-yEsJ7-ns0CsqwvLsGCtX-_r0hm9JJPkkMQ268g-kMEF1W69UT3-6AwzWmAuaoMv2jIJP-CartrPyPCLaCA5WN-Ey7ILbOWK5jDmqHplvChXYSoR_p85J5xoSHc3xmr-g1PWNATf9tRGJZnoQvf9xKIJzjQyyZyRmN4nOD4B3-BXzQ"/>


</head>
<body class="path-node page-node-type-kampagne   d-flex flex-column h-100">
<div class="visually-hidden-focusable skip-link p-3 container">
    <a href="#main-content" class="p-2">
        Direkt zum Inhalt
    </a>
</div>

<div class="dialog-off-canvas-main-canvas d-flex flex-column h-100" data-off-canvas-main-canvas>

    <div class="container rowo-container">
        <header>
            <div class="top-header">
                <div class="top-header-menu">
                    <nav role="navigation" aria-labelledby="block-rowotheme-topheadermenu-menu"
                         id="block-rowotheme-topheadermenu"
                         class="block block-menu navigation menu--top-header-menu">

                        <h5 class="visually-hidden" id="block-rowotheme-topheadermenu-menu">Top
                            Header Menu</h5>


                        <ul data-block="other" class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/newsletter" class="nav-link"
                                   data-drupal-link-system-path="civicrm_newsletter/subscribe/default">Newsletter</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/was-gibt-es-neues/termine" class="nav-link">Termine</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/shop" class="nav-link"
                                   data-drupal-link-system-path="node/1068">Flyer</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/presse" class="nav-link"
                                   data-drupal-link-system-path="node/1067">Presse</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/kontakt" class="nav-link"
                                   data-drupal-link-system-path="node/1060">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/spenden"
                                   class="btn btn-primary btn-pink rowo-btn nav-link" target="_self"
                                   data-drupal-link-system-path="node/1061">Spenden</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/foerdermitglied-werden"
                                   class="btn btn-primary btn-green rowo-btn nav-link"
                                   data-drupal-link-system-path="node/1063">Fördermitglied
                                    werden</a>
                            </li>
                        </ul>


                    </nav>

                </div>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="menu-bar-logo-container">
                        <a href="{{ rowo_hp }}/">
                            <img src="{{ rowo_url }}/themes/custom/rowotheme/images/robin-wood-logo-white.svg">
                        </a>
                    </div>

                    <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse rowo-navbar" id="navbarSupportedContent">
                        <div class="region region-nav-main">
                            <nav role="navigation"
                                 aria-labelledby="block-rowotheme-main-navigation-menu"
                                 id="block-rowotheme-main-navigation"
                                 class="block block-menu navigation menu--main">

                                <h5 class="visually-hidden"
                                    id="block-rowotheme-main-navigation-menu">Hauptnavigation</h5>


                                <ul data-block="nav_main"
                                    class="navbar-nav justify-content-end flex-wrap nav-level-0">
                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/wer-wir-sind" class="nav-link"
                                           data-drupal-link-system-path="node/1053">Wer wir sind</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/was-wir-tun" class="nav-link"
                                           data-drupal-link-system-path="node/1054">Was wir tun</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/was-gibt-es-neues/aktuelles"
                                           class="nav-link">Was
                                            gibt es Neues</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/aktivwerden" class="nav-link"
                                           data-drupal-link-system-path="node/1065">Aktiv werden</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/spenden"
                                           class="mobile-only-link nav-link"
                                           data-drupal-link-system-path="node/1061">Spenden</a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="{{ rowo_hp }}/newsletter"
                                           class="mobile-only-link nav-link"
                                           data-drupal-link-system-path="civicrm_newsletter/subscribe/default">Newsletter</a>
                                    </li>

                                </ul>


                            </nav>

                        </div>

                        <ul class="social-icons-container">
                            <li class="nav-item-icon">
                                <a
                                        href="https://www.instagram.com/robin.wood.e.v/"
                                        class="nav-link social-link">
                                    <div class="social-icons-outer-circle">
                                        <svg class="icon social-media__icon" role="img">
                                            <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#instagram"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item-icon">
                                <a href="https://twitter.com/robin_wood"
                                   class="nav-link social-link">
                                    <div class="social-icons-outer-circle">
                                        <svg class="icon social-media__icon" role="img">
                                            <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#twitter"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item-icon">
                                <a href="https://www.facebook.com/robinwood.ev"
                                   class="nav-link social-link">
                                    <div class="social-icons-outer-circle">
                                        <svg class="icon social-media__icon" role="img">
                                            <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#facebook"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>

                            <li class="nav-item-icon">
                                <a
                                        href="https://www.youtube.com/user/RobinWoodVideo"
                                        class="nav-link social-link">
                                    <div class="social-icons-outer-circle">
                                        <svg class="icon social-media__icon" role="img">
                                            <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#youtube"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                            <li class="nav-item-icon">
                                <a
                                        href="https://mastodon.social/@robin_wood@bewegung.social"
                                        class="nav-link social-link">
                                    <div class="social-icons-outer-circle">
                                        <svg class="icon social-media__icon" role="img">
                                            <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/mastodon.svg#mastodon"></use>
                                        </svg>
                                    </div>
                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>

        <main role="main">

            <div class="row g-0">

                <div class="col-12 ">
                    <div class="region region-content">
                        <div data-drupal-messages-fallback class="hidden"></div>
                        <div id="block-rowotheme-content"
                             class="block block-system block-system-main-block">


                            <article data-history-node-id="273"
                                     class="node node--type-kampagne node--promoted node--view-mode-full">


                                <div class="node__content">
                                    <article class="kampagne-full-wrapper">
                                        <div class="kampagne-full-banner">
                                            <img src="{{ rowo_url }}/sites/default/files/styles/1024x407/public/image_wirklich_final_0.jpg?itok=-0algmvO"
                                                 width="1024" height="407" alt="" loading="lazy"
                                                 class="img-fluid image-style-_024x407"/>


                                            <div class="kampagne-full-label-overlay">
                                                <div class="kampagne-full-label">
                                                    <h1>Ökostrom Umfrage</h1>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kampagne-full-teaser-text-full mobile-padding-1">
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    {{ teaser }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="kampagne-full-content-wrapper">
                                            <div class="row justify-content-center">
                                                <div class="col-md-8">
                                                    {% crispy form form.helper %}
                                                    <!--<h2 class="kampagne-full-forderung-headline">
                                                        Kriterien</h2> -->
                                                </div>
                                            </div>
                                        </div>

                                    </article>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="mt-auto rowo-footer">
            <div class="container-fluid rowo-footer-container">
                <div class="footer-logo-wrapper">
                    <a href="/">
                        <img src="{{ rowo_url }}/themes/custom/rowotheme/images/robin-wood-logo-white.svg">
                    </a>
                </div>
                <div class="footer-text">
                    <div id="block-rowotheme-footertext"
                         class="block block-block-content block-block-content5e72af42-bfc2-4690-8292-aecfaff72b5a">


                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p><strong>Gewaltfreie Aktionsgemeinschaft</strong><br><strong>für
                                Natur und Umwelt</strong><br>Bremer Straße 3<br>21073 Hamburg</p>
                        </div>

                    </div>
                </div>
                <div class="footer-menu">
                    <nav role="navigation" aria-labelledby="block-rowotheme-footermenu-menu"
                         id="block-rowotheme-footermenu"
                         class="block block-menu navigation menu--footer-menu">

                        <h5 class="visually-hidden" id="block-rowotheme-footermenu-menu">Footer
                            Menu</h5>


                        <ul data-block="other" class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/spenden"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1061">Spenden</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/aktivwerden"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1065">Aktiv werden</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/kontakt"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1060">Kontakt</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/datenschutzerkl%C3%A4rung"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1076">Datenschutz</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/impressum"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1074">Impressum</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ rowo_hp }}/offene-stellen-bei-robin-wood"
                                   class="btn btn-primary btn-footer rowo-btn nav-link nav-link"
                                   data-drupal-link-system-path="node/1075">Jobs</a>
                            </li>
                        </ul>


                    </nav>
                </div>
                <ul class="social-icons-container social-icons-container-footer">
                    <li class="nav-item-icon">
                        <a
                                href="https://www.instagram.com/robin.wood.e.v/"
                                class="nav-link social-link">
                            <div class="social-icons-outer-circle">
                                <svg class="icon social-media__icon" role="img">
                                    <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#instagram"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item-icon">
                        <a href="https://twitter.com/robin_wood" class="nav-link social-link">
                            <div class="social-icons-outer-circle">
                                <svg class="icon social-media__icon" role="img">
                                    <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#twitter"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item-icon">
                        <a href="https://www.facebook.com/robinwood.ev"
                           class="nav-link social-link">
                            <div class="social-icons-outer-circle">
                                <svg class="icon social-media__icon" role="img">
                                    <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#facebook"></use>
                                </svg>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item-icon">
                        <a
                                href="https://www.youtube.com/user/RobinWoodVideo"
                                class="nav-link social-link">
                            <div class="social-icons-outer-circle">
                                <svg class="icon social-media__icon" role="img">
                                    <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/sprite.svg#youtube"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item-icon">
                        <a
                                href="https://mastodon.social/@robin_wood@bewegung.social"
                                class="nav-link social-link">
                            <div class="social-icons-outer-circle">
                                <svg class="icon social-media__icon" role="img">
                                    <use xlink:href="{{ rowo_url }}/themes/custom/rowotheme/images/mastodon.svg#mastodon"></use>
                                </svg>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
