{% extends "admin/change_form.html" %}

{% block object-tools-items %}
	{{ block.super }}
    <li>
        <a class="button" href="{% url 'admin:export_homepage' %}">Export for Homepage</a>
    </li>
{% endblock %}

{% block content %}
    {{ block.super }}
    <h3>Template Preview</h3>
    {% for template_preview in template_previews %}
          <p>
           <h4>{{ template_preview.title }}</h4>
          <div style="background-color: #79aec8">{{ template_preview.content | safe }}</div>
    	</p>
    {% endfor %}
{% endblock %}

